<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Straße</th>
    <th align="left">Nummer</th>
    <th align="left">Küche</th>
    <th align="left">Stadtteil</th>
    <th align="left">Score</th>
    <th align="left">Grade</th>
  </tr>

  <% for (const restaurant of data) { %>

    <tr>
      <td><%=restaurant.name%> </td>
      <td><%=restaurant.street%> </td>
      <td><%=restaurant.building%> </td>
      <td><%=restaurant.cuisine%> </td>
      <td><%=restaurant.borough%> </td>
      <td><%=parseFloat(restaurant.avg_score).toFixed(2)%></td>
      <td><%=restaurant.lastgrade%> </td>
      <td><button onclick="edit('<%restaurant._id%>')">edit</button></td>
    </tr>

  <% } %> 
</table>